<div class="card col-md-4">
    <div class="card-body one-post">
      <p class="caption"><i class="fas fa-user"></i>  <%= post.user.name %></p>
      <%= link_to post_path(post) do %>
        <h5 class="caption mb-0 text-dark post-title"><%= post.name %></h5><br>
      <% end %>
      <%= link_to post_path(post) do %>
        <%= attachment_image_tag post, :image, format: 'jpeg', class: "all-post-img" %>
      <% end %>
      <p class="list-group-item caption"><i class="fas fa-neuter"></i> <%= post.genre&.name %></p>
      <div class="card-body">
        <div class="list-group">
          <div class="list-group-item" id="likes_buttons_<%= post.id %>">
            <%= render 'customers/likes/like', post: post %>
          </div>
          <div class="list-group-item">
            <%= link_to post_path(post) do %>
            <p class="caption"><i class="fas fa-comment"></i> <%= "#{post.comments.count}件のコメント" %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>