<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  
  <div>
    <div class="col-md-4 offset-md-4">
      <h2 class="text-center pt-5">ログイン</h2>
      <div class="form_group pt-4 pb-3">
        <label for="floatingInput">メールアドレス</label><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
      <div class="form-group" >
        <label for="floatingInput">パスワード(英数字6文字以上)</label><br>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>
      <div class="form-group" >
        <label for="floatingInput">パスワード確認</label><br>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>
      <div class="text-center">
        <%= f.submit "ログイン", class: "btn btn-success" %><br>
        <%#= render "users/shared/links" %>
      </div>
    </div>
  </div>
<% end %>